
@{
    ViewBag.Title = "Index";


}
@*// jQuery*@

<h2 style="padding-bottom:60px; text-align: center;">Click the image of an instrument you're interested in learning more about renting.</h2>

<div class="contain">
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Trumpet"})">
            <img src="~/Content/images/Instruments/Trumpet.jpg" width="250" />
            <p>Trumpet</p>
        </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Trombone"})">
            <img src="~/Content/images/Instruments/Trombone.jpg" width="250" />
            <p>Trombone</p>
            </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Tube"})">
            <img src="~/Content/images/Instruments/Tuba.jpg" width="250" />
            <p>Tuba</p>
        </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Flute"})">
            <img src="~/Content/images/Instruments/Flute.jpg" width="250" />
            <p>Flute</p>
        </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Clarinet"})">
            <img src="~/Content/images/Instruments/Clarinet.jpg" width="250" />
            <p>Clarinet</p>
        </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Saxophone"})">
            <img src="~/Content/images/Instruments/Saxophone.jpg" width="250" />
            <p>Saxophone</p>
        </a>
    </div>
</div>